.select_options {display: none;}

label {
	display: block; 
	background: #333; 
	color: #FFF; 
	font-weight: bold; 
	font-size: 11px;
	padding: 5px; 
	margin: 0px 0px 10px 0px; 
}

.clear {
    clear: both; 
    margin-bottom: 15px;
}

fieldset {
    border: 1px solid #DDD; 
    margin: 5px; padding: 10px;
}

fieldset fieldset fieldset label {
    background: #666;
}

fieldset fieldset fieldset fieldset label {
    background: #888;
}


span.normal {
    font-weight: normal; 
    size: 12px;
}

.options, 
.validations, 
#validation_error_message {
    display: none;
}

textarea {
    font-size: 11px;
    width: 400px;
    height: 100px;
}

label a {
    text-decoration: none !important;
    color: #CCC !important;
    display: block;
    float: right;
    margin-top: -15px;
}